*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #080808;
    color: #F8F8FF;
}
#scroll{
    height: 100vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

#toolbar{
    z-index: 2;
    overflow: hidden;
    background: #440381;
    width: 100%;
    height: 8vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    position: fixed;
}
  
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: #F8F8FF;
    font-size: 16px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: #8E05C2;
    border-radius: 3px;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

#About-Me{
    padding: 120px;
    margin-top: 20px;
    color: #F8F8FF;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}

.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}

.about-col-2{
    flex-basis: 60%;
}

.subtitle{
    font-weight: 600;
}

.tab-titles{
    color: #8F95D3;
    display: flex;
    margin: 15px 0px 10px;
}

.tab-links{
    margin-right: 30px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #8E05C2;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
    border-radius: 3px;
}

.tab-links:hover::after{
    width: 100%;
}

.tab-links.active-link::after{
    width: 50%;
}

.image{
    display: none;
}

.image.active-image{
    display: block;
}

.tab-contents{
    display: none;
}
  
.tab-contents.active-tab{
    display: block;
    font-family: sans-serif;
    font-size: 15px;
}

.bio-section{
    color: #F8F8FF;
    padding-top: 15px;
    font-family: sans-serif;
    font-size: 16px;
}

#interests ul li{
    color: #F8F8FF;
    list-style: none;
    padding-top: 15px;
    font-family: sans-serif;
    font-size: 16px;
}

#interests ul li span{
    color: #8E05C2;
}

#education ul li{
    color: #F8F8FF;
    list-style: none;
    padding-top: 15px;
    font-family: sans-serif;
    font-size: 16px;
}

#education ul li span{
    color: #8E05C2;
}


/* --------------------------------------------Projects--------------------- */
/* #Projects{
    width: 100%;
    height: 100vh;
    padding: 80px;
} */

#Projects{
    padding: 80px;
}

.projects-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.projects-list div{
    background: #8F95D3;
    width: 600px;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    align-items: center;
    transition: background 0.5s, transform 0.5s;
}

.projects-list div h2{
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 10px;
}

.projects-list div p{
    font-size: 16px;
    color: #F8F8FF;
}

.projects-list div a{
    font-size: 12px;
    text-decoration: none;
    color: #8F95D3;
    margin-top: 10px;
    display: inline-block;
}

.projects-list div:hover{
    background: #8E05C2;
    transform: translateY(-10px);
}

.blank{
    display: none;
}

/* ---------------------------------------------WorkEXP--------------------- */

#Work-Exp{
    padding: 80px;
    color: #F8F8FF;
}

.work-col-1{
    flex-basis: 60%;
}

.work-col-2{
    flex-basis: 35%;
}

.work-col-2 img{
    width: 100%;
    border-radius: 15px;
}

.tab-links2{
    margin-right: 30px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links2::after{
    content: '';
    width: 0;
    height: 3px;
    background: #8E05C2;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
    border-radius: 3px;
}

.tab-links2:hover::after{
    width: 100%;
}

.tab-links2.active-link2::after{
    width: 50%;
}

.image2{
    display: none;
}

.image2.active-image2{
    display: block;
}

.tab-contents2{
    display: none;
}
  
.tab-contents2.active-tab2{
    display: block;
    font-family: sans-serif;
    color: #F8F8FF;
    font-size: 15px;
}

.sales-section{
    font-size: 18px;
    padding-top: 15px;
}

.bookkeeping-section{
    font-size: 18px;
    padding-top: 15px;
}

.Date{
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 15px;
    color: #8F95D3;
}

#sales ul{
    padding: 15px;
}

#sales ul li{
    padding: 8px;
}

#bookkeeping ul{
    /* list-style-type: none; */
    padding: 15px;  
}

#bookkeeping ul li{
    padding: 8px;
}

.resume-section{
    font-size: 18px;
    padding-top: 15px;
    padding-bottom: 8px;
}

#resume a{
    text-decoration: none;
    padding-top: 0px;
    color: #8F95D3;
}

/* ---------------------------------------------VolEXP--------------------- */

#Vol-Exp{
    width: 100%;
    height: 100vh;
    padding: 80px;
}


/* ---------------------------------------------ContactMe------------------ */

#Contact-Me{
    width: 100%;
    height: 100vh;
    padding: 80px;
}
